fieldset{
    text-align : center;
    border-color : black;
    border-radius: 5px;
    border-width : thick;
    padding: 20px;
    display : inline;
}

.note{
    text-align : center;
    size : small;
}

.guestForm{
    text-align : center;
    background-color : #f2f2f2;
    padding: 3%;
}

.guestForm form{
    border: 1.5px solid #e6e6e6;
    border-radius: 20px;
    padding: 2rem 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.guestFieldSet{
    border-radius: 10px;
    border-color  : black;
    background-color: white;
    padding: 20px;
    width: 25%;
}

#sign-in{
    font-family : Indie Flower;
    font-size : 2.0em;
    font-weight : bold;
}

.table td{
    padding: 0.2rem
}

td .img-responsive{
    height: 20px;
    width: 20px;
}
.m-3{
    margin: 0.3rem !important;
}

.alert{
    width : 100%;
    padding : 0.25rem 1rem;
    text-align: left;
}

.fa-times{
    float : right;
}

#delete{
    margin-left: 0.5rem;
}

.capitalized{
    text-transform: capitalize;
}

#login-img{
    border-radius : 20px;
    margin-bottom: 1rem;
}