.user-field{
    text-transform: capitalize;
}

.note{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 2rem 3rem;
}

.note-right{
    text-align: right;
    font-size: medium;
}

.note-left{
    text-align: left;
    font-size: large;
}

.note span{
    font-weight: bolder;
}

.spinner-border{
    margin: 9rem;
}