.geosuggest {
  position: relative;
  width: 100%;
  margin: 1em auto;
  text-align: left;
}
.geosuggest__input {
  border: 0.5px solid #CED4DA;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  padding: .4em;
}
  
.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0px 10px;
  margin-top: -1px;
  background-color: white;
  border: 0.5px solid #CED4DA;
  border-radius: 5px;
  border-top-width: 0;
  overflow-x: hidden;
  z-index: 5;
}
  
/* close suggestion list */
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.AutoCompleteSelection {
  border: 0.5px solid #CED4DA;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  width: 98%;
}

.AutoCompleteSelection ul{
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.AutoCompleteSelection li{
  padding: 2px 10px;
}

.AutoCompleteSelection li:hover, .dropdown-item:hover {
  font-weight: bolder;
  background: rgb(228, 226, 226);
}

#delete-item{
  margin-left: 0.5rem;
}

.add-prod label{
  padding-left: 1.5%;
}

.product-errors{
  color : red;
  text-align : center;
  margin-top: 2rem;
}

.remove-logo{
  cursor: pointer;
}