#my-prod{
    font-family: verdana;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fa-plus-circle{
    margin-left: 0.5rem;
    cursor: pointer;
}

#actions-filter{
    margin-bottom: 5rem;
    width: 15rem;
}