/* chat */
.chat_list_scroll {
  background:	#363942;
  float: left;
  width: 30%;
  border-right: 1px solid #363942;
  height: 550px;
  overflow-y: scroll;
}
    
.chat_border {
  border: 1px solid #363942;
  overflow: hidden;
}

.conversation{
  float: left;
  padding: 5px 5px 5px 5px;
  width:70%;
}
    
.conversation_scroll {
  height: 500px;
  overflow-y: auto;
}

/* chat list */
.chat_notification {
  font-size: 15px;
  float: right;
  color: red;
}

.chat_list_image {
  float: left;
  width: 12%;
}
    
.chat_header {
  float: left;
  padding: 0 0 0 15px;
  width: 80%;
}
    
.chat_divider {
  border-bottom: 1px solid #363942;
  padding: 1px 1px 1px;
  background: #F0F0F0;
}

/*  incoming message */
.incoming_message {
  display: inline-block;
  padding: 0 0 0 0px;
  width: 90%;
}

.incoming_message_text {
  background: #f1f1f1;
  color: #000;
  border-radius: 10px 10px 10px 10px;
  max-width: 60%;
  padding: 10px 10px 10px 10px;
  width: 50%;
}

.conversation_image {
  display: inline-block;
  width: 5%;
  margin-bottom: 2rem;
}

/* outgoing message */
.user_message {
  overflow: hidden;
}
    
.user_message_text{
  float: right;
  width: 50%;
  background: #363942;
  color: #fff;
  border-radius: 10px 10px 10px 10px;
  max-width: 60%;
  padding: 10px 10px 10px 10px;
}

/* new message text */
.new_message{
  color: #4c4c4c;
  width: 100%;
  outline: none;
  border: none;
  border-top: 1px solid #c4c4c4;
  text-transform: none;
}

/*  new message button */
.new_message_icons {
  position: absolute;
  display: inline;
  right: 0;
  cursor: pointer;
}

.new_message_icons img{
  height: 1.8rem;
  margin-right: 1rem;
}

.new_message_icons i{
  padding-top: 1rem;
  padding-right: 1.5rem;
}

#message-date{
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
  color: gray;
}