#product-alert-box{
    margin-top: 1rem;
}

#product-rate{
    text-align: center;
}

#product-rate h6{
    font-size: x-large;
    margin-bottom: 1rem;
}

#product-rate i{
    margin-left: .5rem;
    cursor: pointer;
}

#product-rate i:hover{
    color: #0000EE;
}

.product-info{
    margin-top: 3rem !important;
}