html{
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
    monospace;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  padding-bottom: .3rem;
}

#search-bar .dropdown-menu{
  min-width: 0;
  padding: .5rem;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0px;
}
.footer-subfooter {
  background-color: #f0f0f0;
  padding: 2rem 0;
}
.footer-footer {
  padding: 1em 0;
  text-align: center;
}
.footer-link {
  display: block;
  color: rgb(116, 116, 116);
}
.footer-link:hover {
  color: rgb(46, 46, 46);
}
.profile {
  width: 80px;
  height: 80px;
  border-radius : 5px;
}

.div-center{
  display: flex;
  justify-content : center; 
  align-items : center;
}

.div-center ul{
  margin-bottom: 3.5rem;
}

.img-responsive{
  height : 45px;
  width : 45px;
}

/* Welcome & Home pages */
#welcome-image{
  background : url("https://cdn.pixabay.com/photo/2014/04/03/10/45/hammer-311342__340.png");
  background-color: white;
  background-position: center;
  height: 500px;
  padding-top: 10%;
}

#home-image{
  background: url("https://cdn.pixabay.com/photo/2014/04/03/10/45/hammer-311343__340.png");
  background-position: center;
  height: 400px;
  padding-top: 7%;
  padding-bottom: 2rem;
}

#welcome-image, #home-image{
  background-repeat : no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color : snow;
  border-bottom-left-radius : 15px;
  border-bottom-right-radius : 15px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.753);
}

#home-text h1{
  font-size: 0.5em;
}

#welcome-text, #home-text {
  padding-left: 50%;
  text-align: center;
  text-shadow: 0px 1px 1px rgb(170, 10, 10);
  padding-top: 0;
  color: black;
  border : 2px solid white 20px;
}

#welcome-text hr{
  width: 40%;
  margin: auto;
  border-bottom: rgba(0, 0, 0, 0.2);
}

.product-card{
  width : 15rem;
  margin : 5% auto 5% auto;
}

#card-link:visited{
  color : rgb(179, 12, 179);
}

#card-link:hover{
  color : rgb(35, 63, 141);
}

.linkNav, .nav-link{
  color : white;
}

.linkNav:hover, .nav-link:hover{
  color : lightgrey;
  text-decoration: none;
}

.dropdown-item i{
  float: right;
  padding-right: 15%;
}

#sign-up{
  color : white;
  border : thin solid white;
  border-radius: 5px;
  padding : 8px;
}

#chat{
  font-size: 1.25rem;
  color : white;
  border : thin solid white;
  border-radius: 20px;
  padding : 4px 8px;
}

#sign-up:hover, #chat:hover{
  background-color : white;
  color : black;
  text-decoration : none;
}

.product-card img{
  height: auto;
}

.loading{
  font-size : x-large;
  margin-left : 5%;
}

.fa{
  font-size: 20px;
}

#about-container{
  margin-bottom: 0;
  border-bottom: 2px solid black;
  text-align: center;
  font-family: "Barriecito";
  padding-top : "32";
}

#search-container{
  background-image: url("https://cdn.pixabay.com/photo/2017/05/13/09/04/question-2309040__340.jpg");
  padding-top: 8%;
  padding-bottom: 10%;
  background-repeat : no-repeat;
  background-position: right;
  background-color: white;
  height: 400px;
  justify-content: center;
  align-items : center;
  border-bottom: 1px solid black;
  border-radius: 20px;
}

#search-container .dropdown-item{
  display: inline !important;
}

#search-bar {
  width : 80%;
  margin: auto 0% auto 10%;
}

#search-bar input{
  width : 60%;
}

#search-bar input[type="number"]{
  width: 12%;
}

#search-bar button{
  color: black;
  background-color: snow;
  border-color: black;
  border-radius: 6px;
  border-width: 1.5px;
}

#search-bar button:hover{
  color: snow;
  font-weight: bold;
  background-color: black;
  border-color: snow;
  border-width: 2px;
}

.subtitle{
  text-transform: capitalize;
}

.card-title{
  margin-top: .75rem;
}
#search-results{
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
}

#search-results h1{
  margin-bottom : .75rem;
}

#pagination{
  margin: .75rem 0px;
}

#back-to-top{
  margin: 1.5rem 0px 1.5rem 0px;
}

#search-category-button{
  margin-right: .5rem;
}

.dropdown-header{
  font-size: large;
  display: block;
}

.dropdown-item{
  display: block;
}

.dropdown-item a{
  color: black;
}

.dropdown-item a:hover{
  text-decoration: none;
}

.font-normal{
  font-weight: normal;
}

.main-header{
  margin-left : 5%;
  border-bottom : medium solid rgb(240, 236, 236); 
  width : 20%;
}

.card-header{
  background-color: rgb(197, 248, 121)
}

#root{
  overflow: hidden;
}